Source: syncany-plugin-swift
Section: utils
Priority: extra
Maintainer: Christian Roth <christian.roth@port17.de>
Build-Depends: bash-completion, debhelper (>= 8.0.0) | debhelper (>= 9.0.0)
Standards-Version: 3.9.4
Homepage: https://www.syncany.org

Package: syncany-plugin-swift
Architecture: ${pluginDebianArchitecture}
Depends: ${pluginMiscDepends}, syncany (>= ${pluginAppMinVersion})
Homepage: https://www.syncany.org/
Description: OpenStack Swift plugin for Syncany
 This plugin makes it possible to use a Swift blockstorage as a backend
 for Syncany.
 .
 The package relies on the original Syncany package.
